<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Shortyz Web</display-name>
    <filter>
        <description>Grabs the facebook info where available.</description>
        <filter-name>FacebookSessionFilter</filter-name>
        <filter-class>com.totsp.crossword.web.server.FacebookSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FacebookSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>PuzzleService</servlet-name>
        <servlet-class>com.totsp.crossword.web.server.PuzzleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshPuzzleListTask</servlet-name>
        <servlet-class>com.totsp.crossword.web.server.RefreshPuzzleList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PuzzleService</servlet-name>
        <url-pattern>/basic/puzzle.rpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuzzleService</servlet-name>
        <url-pattern>/gadget/puzzle.rpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuzzleService</servlet-name>
        <url-pattern>/gwave/puzzle.rpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshPuzzleListTask</servlet-name>
        <url-pattern>/cron/refresh</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cron jobs</web-resource-name>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
