<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.totsp.crossword.shortyz"
    android:installLocation="auto"
    android:versionCode="40007"
    android:versionName="4.0.7">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.totsp.crossword.shortyz.ShortyzApplication"
        android:backupAgent="com.totsp.crossword.shortyz.BackupAgent"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:restoreAnyVersion="true">

        <activity
            android:name="com.totsp.crossword.HttpDownloadActivity"
            android:label="Download to Shortyz">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.puz"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.totsp.crossword.PlayActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shortyz">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.puz"
                    android:scheme="file" />
                <data
                    android:mimeType="application/x-crossword"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.totsp.crossword.PreferencesActivity"
            android:label="Settings"
            android:theme="@style/Theme.Shortyz"
            ></activity>
        <activity
            android:name="com.totsp.crossword.ClueListActivity"
            android:label="Clues"
            android:theme="@style/Theme.Shortyz"
            ></activity>
        <activity
            android:name="com.totsp.crossword.HTMLActivity"
            android:label="Shortyz"
            android:theme="@style/Theme.Shortyz"
            ></activity>
        <activity
            android:name="com.totsp.crossword.BrowseActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shortyz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.totsp.crossword.WebBrowserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Browse for Puzzles"
            android:theme="@style/Theme.Shortyz"></activity>
        <activity
            android:name="com.totsp.crossword.PuzzleFinishedActivity"
            android:label="Puzzle Completed!"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>

        <receiver android:name="com.totsp.crossword.net.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.totsp.crossword.GamesSignIn"
            android:label="@string/title_activity_games_sign_in"
            android:theme="@style/Theme.Shortyz"></activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIpupOi468PpFd3hXnN3o4Omx0Fgu9FyojG9lvzw" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

</manifest>